#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-image: url("../../public/cantorBackground.png");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container{
    width: 90%;
  }
}
