html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("../../public/cantorBackground.png");
  background-repeat: no-repeat;
  background-color: #000009;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}